html, body {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url("../images/bg/fabric_of_squares_gray/fabric_of_squares_gray.png") center center/cover no-repeat fixed #f3f3f3;
}

#login_box {
    width: 400px;
    padding: 30px 40px 20px;
    border: 1px solid #c4c4c4;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: #fefefe;
}

#login_box:after, #login_box:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}

#login_box:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}

#login_box:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}

#login_box h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
}

#login_box .btn {
    margin-top: 20px;
}

#login_box .input-group {
    margin-bottom: 4px;
}

#login_box .input-group-addon i.fa {
    width: 14px;
}

#recordarcontrasena {
    text-align: center;
    padding-bottom: 10px;
}

#version_app {
    text-align: center;
    font-size: smaller;
    font-family: monospace;
    color: #ccc;
}
