/* Clear Set
--------------------------------------------------------------------------------------- */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
body{
    zoom: 80% !important;
}

/* Cargando pagina
--------------------------------------------------------------------------------------- */
.loading, .loading body {
    overflow: hidden
}
.loading body > * {
    visibility: hidden
}
.loading #loading_layer {
    visibility: visible;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000
}
.loading #loading_layer img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 10px;
    margin: -5px 0 0 -32px
}
.loading .tab-pane {
    display: block !important
}
.loading .hide {
    display: inherit
}

/* Bootstrap
-------------------------------------------------------------------------------------- */
.progress {
    background-color: #aaa !important;
}

/* Template
--------------------------------------------------------------------------------------- */
html, body {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url("../images/bg/fabric_of_squares_gray/fabric_of_squares_gray.png") repeat scroll 0 0 #F8F8F8;
}

.avatar > img {
    overflow: hidden;
}

#navbar ul {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copy {
    color: #AAAAAA;
    font-size: 0.7em;
    margin-top: 10px;
}

/* Separador para el Growl
--------------------------------------------------------------------------------------- */
hr.separator {
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

/* Boxes
--------------------------------------------------------------------------------------- */
.box {
    margin-bottom: 10px;
}

.box-header {
    height: 40px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 10px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fafafa, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
    background-image: -o-linear-gradient(top, #fafafa, #efefef);
    background-image: linear-gradient(to bottom, #fafafa, #efefef);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    overflow: hidden;

}

.box-header h2 {
    font-size: 16px;
    line-height: 16px;
    float: left;
    margin-top: 2px;
    color: #646464;
    font-weight: normal;
    text-shadow: 0px 1px 0px #fff;
    white-space: pre;
}

.box-header h2 i {
    margin: 1px 3px 0px 5px;
    opacity: .4;
}

.box-header .break {
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #ddd;
    margin: -12px 10px -10px 10px;
    padding: 12px 0px 10px 0px;
}

.box-content {
    margin-top: -1px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fcfcfc;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}

/* Badger
http://bootsnipp.com/snippets/featured/bootstrap-badger
--------------------------------------------------------------------------------------- */

[class*="badger"] {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff;
}

[class*="badger"] h1,
[class*="badger"] h2,
[class*="badger"] h3 {
    margin-top: -10px;
}

.badger-left:after {
    left: 0;
    border-radius: 6px 0 6px 0;
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px;
}

.badger-danger:after {
    background: #d9534f;
}

.badger-warning:after {
    background: #f0ad4e;
}

.badger-success:after {
    background: #5cb85c;
}

.badger-info:after {
    background: #5bc0de;
}

.badger-inverse:after {
    background: #222;
}

/* Css Global
--------------------------------------------------------------------------------------- */
.alinear-derecha {
    text-align: right !important;
}

.alinear-izquierda {
    text-align: left !important;
}

.alinear-centro {
    text-align: center !important;
}

.fancybox, .fancyimg, .iframe {
}

.data-table {
}

.boton-nuevo {
    text-align: right;
    margin-bottom: -42px;
    margin-right: 10px;
}

.cancelar {
    color: #d14;
    text-decoration: none;
    cursor: pointer;
}

.cancelar:hover {
    color: #9e0c31;
    text-decoration: underline;
}

.nuevo-registro {
    text-align: right;
    margin-bottom: 10px;
}

.ver-mas {
    text-align: right;
}

.btn-label {
    position: relative;
    left: -14px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

/* Dasboard
--------------------------------------------------------------------------------------- */
#clima > div {
    margin: 0 auto;
}

/* FancyBox
--------------------------------------------------------------------------------------- */
.fancybox-title-inside-wrap {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.8em;
    padding-bottom: 10px;
    padding-top: 0;

}

#fancybox-wrap, #fancybox-outter, #fancybox-content {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -o-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

#fancybox-content > div {
    margin-top: -20px;
    margin-bottom: -20px;
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.63);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.63);
}

/*
LOGS
*/

.logViewlogContainer {
    height: auto;
    display: block;
    font-size: 13px;
    line-height: 18px;
    overflow: auto;
    text-align: left;
    color: #8f9d6a;
    font-weight: normal;
    overflow: auto;
    padding: 10px 20px 20px 0px;
    font-family: "Monaco", Verdana, Arial, sans-serif;
    display: block;
    clear: both;
}

#logViewnav,
#logView .paginationWrapper,
#logViewfilterBar {
    display: inline-block;
    height: auto;
    margin: 0px 20px 10px 20px;
    color: #c26549;
}

#logViewnav {
    float: left;
    width: 110px;
    padding: 0;
}

#logView .paginationWrapper,
#logViewfilterBar {
    display: block;
    margin-left: 0;
    padding: 0px;
    font-size: 12px;
}

.logViewcontainer {
    display: block;
    overflow: hidden;
}

#logViewfilterBar {
    margin-bottom: 5px;

}

#logView .paginationWrapper strong {
    display: inline-block;
    padding: 5px 8px 5px 8px;
    margin: 0px;
}

#logView .debug,
#logView .error,
#logView .info {
    display: block;
    padding: 4px;
    margin: 0;
    border: 1px solid #444;
    border-style: outset;
    border-left: none;
    border-right: none;
    white-space: pre-wrap;
}

#logView logViewdeleteFile {
    float: right;
}

#logView .debug {
    color: #8f9d6a;
    background-color: #FFF;
}

#logView .error {
    color: #c26549;
    background-color: #44393f;
}

#logView .info {
    color: #000;
    background-color: #d8ce84;
}

/* Datatable GroceryCrud
--------------------------------------------------------------------------------------- */
.form-display-as-box {
    padding-top: 4px;
}

.chzn-container-single .chzn-single {
    height: 100%;
}

.datatables div.form-div input[type="text"], .datatables div.form-div input[type="password"] {
    height: 100%;
}

table.dataTable tr.odd {
    background-color: #F9F9F9;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #e8e8e8;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    #wrapper {
        left: 0;
        right: 0;
    }

    td.actions > a > .ui-icon {
        display: none;
    }

    td.actions > a > .ui-button-text {
        padding-left: 8px;
        padding-right: 8px;
    }
}

/* tabla seleccionada
--------------------------------------------------------------------------------------- */
.botonesAccion li a {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.botonesAccion li a .ui-icon {
    display: inline-block;
}

.filaseleccionada {
    background-color: #ccc !important;
}

#beaker {
    background-size: contain;
}

/* Dashboard
--------------------------------------------------------------------------------------- */
.bg-aqua {
    background-color: #00c0ef !important;
    color: #fff;
}

.bg-green {
    background-color: #00a65a !important;
    color: #fff;
}

.bg-yellow {
    background-color: #f39c12 !important;
    color: #fff;
}

.bg-red {
    background-color: #dd4b39 !important;
    color: #fff;
}

@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box > .inner {
    padding: 10px;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-box h3, .small-box p {
    z-index: 5;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}